
body { margin: 0; }

.blue {
background-color:  blue;
height: 100px;
width: 100px;
position: absolute;










}


.red {

  background-color:  red;
  height: 100px;
  width: 100px;
  position: absolute;
  left: 200px;


}


.yellow { background-color: yellow;
height: 100px;
width: 100px;
left: 100px;
position: absolute;







}
